.Products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-content: start;
    align-content: start;
    max-height: 100rem;
    overflow-y: scroll;
}

.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0;
}

.Card > img {
    margin-bottom: 0.25rem;
    width: 18rem;
    height: 18rem;
}

.Card .Name {
    font-weight: bold;
    border-bottom: 1px solid white;
    margin-bottom: 0.35rem;
    font-size: 1.1rem;
}

.Card .Price{
    font-weight: bold;
    margin-bottom: 0.1rem;
}

.Card button {
    margin-bottom: 0;
}
