.Products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    justify-content: start;
    align-content: start;
}

.Products > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-items: start;
    align-items: start;
}

.Products > div > img {
    margin-bottom: 1rem;
    width: 18rem;
    height: 18rem;
}

.Products > div > p:first-of-type {
    font-weight: bold;
}

.Products > div > p:last-of-type {
    margin-top: 1rem;
}
